#main_page {
    margin-top: 50px;
}

#search_result ul,
#search_result ul li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

#search_result p {
    font-style: italic;
    text-align: center;
}

.filters_search_box {
    line-height: 50px;
}